Package: shellquizz
Version: 1.0
Section: games
Maintainer: Paulo Henrique Ortolan <paulo.ortolan@gmail.com>
Priority: optional
Architecture: all
Depends: zenity (>=3.4.0)
Description: A quizz created with shellscript and zenity dialog manager.
 User can create and install new quizzes. Refer to the HOWTO file.

