Name=shellquizz
Version=1.0
Exec=/usr/bin/shellquizz
Comment=A shell based quizz game using Zenity
Icon=/usr/share/shellquizz/icon/shellquiz.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;
Comment[pt_BR]=Um jogo de perguntas e respostas utilizando Zenity
GenericName=shellquizz
